:root {
  --fonte-texto: 'Times New Roman', sans-serif;
  --fonte-texto2: 'Montserrat', sans-serif;
  --color-1: #333;
  --color-2: #9c3f3f;
}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-texto);
}
.cabecalho {
  background-color: #F5F2EE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 2px solid #D1D1D1;
}
.logo {
  width: 130px;
  height: auto;
}
.nome {
  font-size: 40px;
  text-align: center;
  font-family: var(--fonte-texto2);
  color: #6F2D3A;
  flex: 1;
  margin: 0 20px;
}
.informacoes {
  display: flex;
  gap: 25px;
}
.informacoes a {
  text-decoration: none;
  font-weight: bold;
  color: #8B2C2C;
  padding: 5px 8px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: var(--fonte-texto2);
}
.informacoes a:hover {
  color: #000000;
  background-color: #eaeaea;
  box-shadow: 4px 4px 10px rgba(53, 51, 51, 0.7);
}
main {
  flex: 1;
}
.img1 {
  float: right;
  width: 25%; 
  max-width: 500px;
  height: auto;
  margin: 0px 0px 15px 20px; 
}
.img2{
  float: left;
  width: 20%; 
  max-width: 500px;
  height: auto;
  margin: 0px 20px 15px 0px; 
}
.banner{
  width: 100%; 
  height: 300px;
  margin-bottom: 20px; 
}
.principal {
  margin: 40px 20px;
  font-size: 20px;
  color: #000000;
  border-radius: 15px;
  padding: 20px;
  text-align: justify;
}
.rodape {
  background-color: #F5F2EE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 20px 0px;
  border-top: 2px solid #D1D1D1;
}
.rodape-esquerda {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 25px;
}
.ufmg, .icb {
  width: 120px;
  height: auto;
}
.ufmg {
  margin-top: -18px;
  margin-bottom: 2px;
}
.meio {
  font-size: 18px;
  text-align: center;
  padding: 0 10px;
}
.rodape-direita {
  font-size: 14px;
  text-align: right;
  margin-right: 20px;
}
.rodape a, .rodape a:visited {
  color: black;
  text-decoration: none;
}
.o {
  margin-right: 50px;
}
.contato {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}
.instagram, .youtube{
  width: 20px;
  height: auto;
}
.map {
  width: 70%;
  display: block;
  margin: 0px auto;
}
iframe {
  width: 40%;
  display: block;
  margin: 0px auto;
}
.centro{
  text-align: center;
}
.sbp{
  text-decoration: none;
  color: var(--color-2);
}
.title{
  font-family: var(--fonte-texto2);
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}
.hr{
  border: none;
  border-top: 1px solid #ddd;
  margin: 40px 0;
}
h2, h3 {
  font-family: var(--fonte-texto2);
  color: #6F2D3A
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.gallery .foto {
  width: 100%;
  max-width: 100%;
  height: 90%px;
  object-fit: cover;
  white-space: normal;
}
@media (max-width: 700px) {
  .cabecalho {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
  }
  .nome {
    font-size: 20px;
  }
  .informacoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 25px;
    width: 100%;
    text-align: center;
  }
  .informacoes a {
    font-size: 16px;
    background-color: rgba(255,255,255,0.1);
  }
  .rodape {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
  }
  .rodape-direita {
    text-align: center;
    margin-right: 0;
  }
  .img1{
    width: 99.5%;
  }
  .img2{
    width: 99.5%;
  }
  iframe{
    width: 100%;
  }
  .map{
    width: 100%;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .gallery .foto {
    height: 90%;
    width: 90%;
  }
}