@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Noto+Sans+Symbols:wght@100..900&display=swap');
:root {
  --fonte-texto: 'Cal Sans', sans-serif;
  --color-1: #333;
  --color-2: #9c3f3f;
}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-texto);
}
.cabecalho {
  background-color: #5e0e0f;
  box-shadow: 0px 1px 10px 5px rgba(83, 81, 81, 0.8);
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 40px;
  margin: 20px;
}
.logo {
  width: 130px;
  height: auto;
}
.nome {
  font-size: 40px;
  text-align: center;
  color: #000;
  flex: 1;
  margin: 0 20px;
}
.informacoes {
  display: flex;
  gap: 25px;
}
.informacoes a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  padding: 5px 8px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.informacoes a:hover {
  color: #fff;
  background-color: rgb(205, 0, 0);
  box-shadow: 4px 4px 10px rgba(53, 51, 51, 0.7);
}
main {
  flex: 1;
}
p{  
  text-indent: 15px;
}
.img1 {
  float: right;
  width: 60%; 
  max-width: 500px;
  height: auto;
  margin: 0px 0px 15px 20px; 
  border: 10px solid #d1d0d0;
  border-radius: 12px;
}
.img2{
  float: left;
  width: 60%; 
  max-width: 500px;
  height: auto;
  margin: 0px 20px 15px 0px; 
  border: 10px solid #d1d0d0;
  border-radius: 12px;
}
.principal {
  margin: 40px 20px;
  font-size: 20px;
  color: #333;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 20px;
  text-align: justify; 
}
.rodape {
  background-color: rgb(104, 101, 101);
  box-shadow: 0px 3px 8px 5px rgba(83, 81, 81, 0.8);
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  margin: 20px;
}
.rodape-esquerda {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 25px;
}
.mlogo, .ufmg, .icb {
  width: 120px;
  height: auto;
}
.ufmg {
  margin-top: -18px;
  margin-bottom: 10px;
}
.meio {
  font-size: 18px;
  text-align: center;
  padding: 0 10px;
}
.rodape-direita {
  font-size: 14px;
  text-align: right;
  margin-right: 20px;
}
.o {
  margin-right: 50px;
}
.contato {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}
.instagram, .youtube, .Email {
  width: 20px;
  height: auto;
}
.map {
  width: 99%;
  margin-top: 20px;
  border-radius: 15px;
}
iframe {
  border: none;
  border-radius: 15px;
  width: 50%;
  width: 600px;
}
.sbp{
  text-decoration: none;
  color: var(--color-2);
}
@media (max-width: 700px) {
  .cabecalho {
    flex-direction: column;
    gap: 15px;
  }
  .nome {
    font-size: 20px;
  }
  .informacoes {
    justify-content: center;
  }
  .rodape {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .rodape-direita {
    text-align: center;
    margin-right: 0;
  }
  .img1{
    width: 99.5%;
  }
  .img2{
    width: 99.5%;
  }
  iframe{
    width: 100%;
  }
}